<a href="https://colab.research.google.com/github/Dev-Nandan-Kumar/ML-use-cases/blob/main/Pyspark_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=00108957fa54b4087d31e262c1b1cfcd147afd9001a2736ebc9c417c74aa96b8
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://downloads.apache.org/spark/spark-3.0.0-preview2/spark-3.5.1-preview2-bin-hadoop3.2.tgz
!tar -xvf spark-3.0.0-preview2-bin-hadoop3.2.tgz
!pip install -q findspark

--2024-07-29 09:09:36--  https://downloads.apache.org/spark/spark-3.0.0-preview2/spark-3.5.1-preview2-bin-hadoop3.2.tgz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.208.237, 2a01:4f8:10a:39da::2, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2024-07-29 09:09:36 ERROR 404: Not Found.

tar: spark-3.0.0-preview2-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

ValueError: Couldn't find Spark, make sure SPARK_HOME env is set or Spark is in an expected location (e.g. from homebrew installation).

In [ ]:
#Create Dataframe
df1 = spark.createDataFrame([{"Spark": "Jupyter"} for x in range(1000)])
df1.show(5)

+-------+
|  Spark|
+-------+
|Jupyter|
|Jupyter|
|Jupyter|
|Jupyter|
|Jupyter|
+-------+
only showing top 5 rows

In [ ]:
data = [{"Category": 'A', "ID": 1, "Value": 121.44, "Truth": True},
        {"Category": 'B', "ID": 5, "Value": 300.01, "Truth": False},
        {"Category": 'G', "ID": 6, "Value": 308.01, "Truth": False},
        {"Category": 'B', "ID": 7, "Value": 30.01, "Truth": False},
        {"Category": 'A', "ID": 8, "Value": 306.01, "Truth": False},
        {"Category": 'B', "ID": 9, "Value": 300.01, "Truth": True},
        {"Category": 'D', "ID": 10, "Value": 300.01, "Truth": False},
        {"Category": 'B', "ID": 2, "Value": 300.01, "Truth": False},
        {"Category": 'C', "ID": 3, "Value": 10.99, "Truth": None},
        {"Category": 'E', "ID": 4, "Value": 33.87, "Truth": True},
        {"Category": 'F', "ID": 4, "Value": 93.87, "Truth": True}

        ]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
df = spark.createDataFrame(data)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# Creating Columns
df.show()

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       B|  5|false|300.01|
|       G|  6|false|308.01|
|       B|  7|false| 30.01|
|       A|  8|false|306.01|
|       B|  9| true|300.01|
|       D| 10|false|300.01|
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
|       E|  4| true| 33.87|
|       F|  4| true| 93.87|
+--------+---+-----+------+

In [ ]:
df=df.withColumn('newcol', df.ID+1)
df.show()

+--------+---+-----+------+------+
|Category| ID|Truth| Value|newcol|
+--------+---+-----+------+------+
|       A|  1| true|121.44|     2|
|       B|  5|false|300.01|     6|
|       G|  6|false|308.01|     7|
|       B|  7|false| 30.01|     8|
|       A|  8|false|306.01|     9|
|       B|  9| true|300.01|    10|
|       D| 10|false|300.01|    11|
|       B|  2|false|300.01|     3|
|       C|  3| null| 10.99|     4|
|       E|  4| true| 33.87|     5|
|       F|  4| true| 93.87|     5|
+--------+---+-----+------+------+

In [ ]:
df.filter(df.Truth==True).sort(df.Value).show()

+--------+---+-----+------+------+
|Category| ID|Truth| Value|newcol|
+--------+---+-----+------+------+
|       E|  4| true| 33.87|     5|
|       F|  4| true| 93.87|     5|
|       A|  1| true|121.44|     2|
|       B|  9| true|300.01|    10|
+--------+---+-----+------+------+

In [ ]:
df.createOrReplaceTempView('table')
spark.sql(''' SELECT * FROM table WHERE Truth==true ORDER BY Value ASC ''').show()

+--------+---+-----+------+------+
|Category| ID|Truth| Value|newcol|
+--------+---+-----+------+------+
|       E|  4| true| 33.87|     5|
|       F|  4| true| 93.87|     5|
|       A|  1| true|121.44|     2|
|       B|  9| true|300.01|    10|
+--------+---+-----+------+------+

In [ ]:
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- ID: long (nullable = true)
 |-- Truth: boolean (nullable = true)
 |-- Value: double (nullable = true)
 |-- newcol: long (nullable = true)

In [ ]:
### Select and filter
df.select('ID', 'Truth').show()

In [ ]:
df.filter("ID>2").show()

In [ ]:
df.filter("Truth like 't%'").show()

In [ ]:
# Multiple filter chaining
df.filter("Truth like 't%'").filter("Category=='A'").show()

In [ ]:
df.filter("ID in (1,2,4)").show()

In [ ]:
df.groupby("Truth").count().show()

In [ ]:
df.groupby("Truth").count().filter("Truth=='true'").show()

In [ ]:
df.groupby("Truth").count().orderBy("Truth").show()

In [ ]:
!pwd
!ls

In [ ]:
# DataFrame Query: Cast columns to specific data type
dfc = spark.read.format('csv').options(header='true', inferSchema='true').load("/content/Primary_Sales_Till_March.csv")

dfc.printSchema()
dfc.show()

root
 |-- Billing Date0: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Plnt: string (nullable = true)
 |-- Sold-to pt: integer (nullable = true)
 |-- Material: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Sub Category: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Factory: string (nullable = true)
 |-- Capa.: string (nullable = true)
 |-- Manual Serial No: string (nullable = true)
 |-- Prod. Month: string (nullable = true)
 |-- Mfg. Period: string (nullable = true)
 |-- Sale Month: string (nullable = true)
 |-- Billing Date15: string (nullable = true)

+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
|Billing Date0|Month|Year|Plnt|Sold-to pt|Material|        Product|Sub Category|   Model|  Factory|          Capa.| Manual Serial No|Prod. Month|  Mfg. Period|Sale Month|Billing Date15|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
|   05.01.2019|    1|2019|V255|    160070| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F900012|      2018F|Sep'18-Mar'19|    Jan-19|    05-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001517|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001502|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001016|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18D000723|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18C000686|      2018C|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114673| 1100017|   Refrigerator|  Frost Free|RFF383IF| Thailand|      300 - 500|1100017A18F000037|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001520|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001518|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200011|Washing Machine|        FAFL|  WFL70S|  Arcelik|> 6.5 <= 7.5 kg|1200011A18D000239|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001547|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001561|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001031|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18G001086|      2018G|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003397|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003396|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   10.01.2019|    1|2019|V255|  26114942| 1200023|Washing Machine|        FATL|  WTL70S|Beko/Defy|> 6.5 <= 7.5 kg|1200023A18E000158|      2018E|Sep'18-Mar'19|    Jan-19|    10-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000802|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000516|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200017|Washing Machine|        FATL|  WTL60G|Beko/Defy|    Upto 6.5 Kg|1200017A18F000516|      2018F|Sep'18-Mar'19|    Jan-19|    11-01-2019|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
only showing top 20 rows

In [ ]:
dfc.count(), len(dfc.columns)

(79022, 16)

In [ ]:
from pyspark.sql import functions as F

In [ ]:
dfc.agg(F.min('Year')).show()

+---------+
|min(Year)|
+---------+
|     2019|
+---------+

In [ ]:
dfc.agg(F.min('Year')).collect()[0][0]

2019

In [ ]:
dfc.collect()[:5]

[Row(Billing Date0='05.01.2019', Month=1, Year=2019, Plnt='V255', Sold-to pt=160070, Material=1200018, Product='Washing Machine', Sub Category='FATL', Model='WTL62S', Factory='Beko/Defy', Capa.='Upto 6.5 Kg', Manual Serial No='1200018A18F900012', Prod. Month='2018F', Mfg. Period="Sep'18-Mar'19", Sale Month='Jan-19', Billing Date15='05-01-2019'),
 Row(Billing Date0='07.01.2019', Month=1, Year=2019, Plnt='V255', Sold-to pt=26114942, Material=1200018, Product='Washing Machine', Sub Category='FATL', Model='WTL62S', Factory='Beko/Defy', Capa.='Upto 6.5 Kg', Manual Serial No='1200018A18F001517', Prod. Month='2018F', Mfg. Period="Sep'18-Mar'19", Sale Month='Jan-19', Billing Date15='07-01-2019'),
 Row(Billing Date0='07.01.2019', Month=1, Year=2019, Plnt='V255', Sold-to pt=26114942, Material=1200018, Product='Washing Machine', Sub Category='FATL', Model='WTL62S', Factory='Beko/Defy', Capa.='Upto 6.5 Kg', Manual Serial No='1200018A18F001502', Prod. Month='2018F', Mfg. Period="Sep'18-Mar'19", Sale Month='Jan-19', Billing Date15='07-01-2019'),
 Row(Billing Date0='07.01.2019', Month=1, Year=2019, Plnt='V255', Sold-to pt=26114942, Material=1200007, Product='Washing Machine', Sub Category='FAFL', Model='WFL60WS', Factory='Arcelik', Capa.='Upto 6.5 Kg', Manual Serial No='1200007A18F001016', Prod. Month='2018F', Mfg. Period="Sep'18-Mar'19", Sale Month='Jan-19', Billing Date15='07-01-2019'),
 Row(Billing Date0='07.01.2019', Month=1, Year=2019, Plnt='V255', Sold-to pt=26114942, Material=1200006, Product='Washing Machine', Sub Category='FAFL', Model='WFL60SS', Factory='Arcelik', Capa.='Upto 6.5 Kg', Manual Serial No='1200006A18D000723', Prod. Month='2018D', Mfg. Period="Sep'18-Mar'19", Sale Month='Jan-19', Billing Date15='07-01-2019')]

In [ ]:
#Transformations
dfc.select('Product').distinct().show()

+---------------+
|        Product|
+---------------+
|   Refrigerator|
| Microwave Oven|
|Washing Machine|
|     Dishwasher|
|          Dryer|
+---------------+

In [ ]:
# withColumn: Create new columns & withColumnRenamed
updated_dfc=dfc.withColumn("Time Series Forecasting", F.lit("Yes"))
updated_dfc.show()

+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+-----------------------+
|Billing Date0|Month|Year|Plnt|Sold-to pt|Material|        Product|Sub Category|   Model|  Factory|          Capa.| Manual Serial No|Prod. Month|  Mfg. Period|Sale Month|Billing Date15|Time Series Forecasting|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+-----------------------+
|   05.01.2019|    1|2019|V255|    160070| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F900012|      2018F|Sep'18-Mar'19|    Jan-19|    05-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001517|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001502|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001016|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18D000723|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18C000686|      2018C|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114673| 1100017|   Refrigerator|  Frost Free|RFF383IF| Thailand|      300 - 500|1100017A18F000037|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001520|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001518|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26114942| 1200011|Washing Machine|        FAFL|  WFL70S|  Arcelik|> 6.5 <= 7.5 kg|1200011A18D000239|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001547|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001561|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|                    Yes|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001031|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|                    Yes|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18G001086|      2018G|Sep'18-Mar'19|    Jan-19|    09-01-2019|                    Yes|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003397|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|                    Yes|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003396|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|                    Yes|
|   10.01.2019|    1|2019|V255|  26114942| 1200023|Washing Machine|        FATL|  WTL70S|Beko/Defy|> 6.5 <= 7.5 kg|1200023A18E000158|      2018E|Sep'18-Mar'19|    Jan-19|    10-01-2019|                    Yes|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000802|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|                    Yes|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000516|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|                    Yes|
|   11.01.2019|    1|2019|V255|    102689| 1200017|Washing Machine|        FATL|  WTL60G|Beko/Defy|    Upto 6.5 Kg|1200017A18F000516|      2018F|Sep'18-Mar'19|    Jan-19|    11-01-2019|                    Yes|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+-----------------------+
only showing top 20 rows

In [ ]:
up_dfc=dfc.withColumn("label", F.when(F.col("Product")=="Washing Machine", 0)\
                      .when(F.col("Product")=="Refrigerator", 1)\
                      .when(F.col("Product")=="Microwave Oven", 2)\
                      .when(F.col("Product")=="Dishwasher", 3)\
                      .when("Product")=="Dryer", 4)\
                      .otherwise(5))
up_dfc.show()

SyntaxError: ignored

In [ ]:
dff=dfc.withColumnRenamed("Billing Date15", "BD")
dff.show()

+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+----------+
|Billing Date0|Month|Year|Plnt|Sold-to pt|Material|        Product|Sub Category|   Model|  Factory|          Capa.| Manual Serial No|Prod. Month|  Mfg. Period|Sale Month|        BD|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+----------+
|   05.01.2019|    1|2019|V255|    160070| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F900012|      2018F|Sep'18-Mar'19|    Jan-19|05-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001517|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001502|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001016|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18D000723|      2018D|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18C000686|      2018C|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114673| 1100017|   Refrigerator|  Frost Free|RFF383IF| Thailand|      300 - 500|1100017A18F000037|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001520|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001518|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200011|Washing Machine|        FAFL|  WFL70S|  Arcelik|> 6.5 <= 7.5 kg|1200011A18D000239|      2018D|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001547|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001561|      2018F|Sep'18-Mar'19|    Jan-19|07-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001031|      2018F|Sep'18-Mar'19|    Jan-19|09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18G001086|      2018G|Sep'18-Mar'19|    Jan-19|09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003397|      2018F|Sep'18-Mar'19|    Jan-19|09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003396|      2018F|Sep'18-Mar'19|    Jan-19|09-01-2019|
|   10.01.2019|    1|2019|V255|  26114942| 1200023|Washing Machine|        FATL|  WTL70S|Beko/Defy|> 6.5 <= 7.5 kg|1200023A18E000158|      2018E|Sep'18-Mar'19|    Jan-19|10-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000802|      2018E|Sep'18-Mar'19|    Jan-19|11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000516|      2018E|Sep'18-Mar'19|    Jan-19|11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200017|Washing Machine|        FATL|  WTL60G|Beko/Defy|    Upto 6.5 Kg|1200017A18F000516|      2018F|Sep'18-Mar'19|    Jan-19|11-01-2019|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+----------+
only showing top 20 rows

In [ ]:
dff.groupby("Product").agg(F.min("BD"), F.max("BD")).show()

+---------------+----------+----------+
|        Product|   min(BD)|   max(BD)|
+---------------+----------+----------+
|     Dishwasher|02-05-2019|31-12-2019|
|          Dryer|03-12-2019|31-12-2019|
| Microwave Oven|01-02-2019|31-10-2019|
|   Refrigerator|01-02-2019|31-12-2019|
|Washing Machine|01-02-2019|31-12-2019|
+---------------+----------+----------+

In [ ]:
## User defined Functions
## STEP 1: Create a python function

def transform_income(income_str):

    income_str = str(income_str)

    if income_str[0] == "L":
        income_str = income_str.split(" ")[-1]
        avg_income = income_str[1:]
        avg_income = float(avg_income)
        return avg_income

    elif income_str[-1] == "e":
        income_str = income_str.split(" ")[0]
        avg_income = income_str[1:]
        avg_income = float(avg_income)
        return avg_income

    else:
        income_str = income_str.split(" - ")
        avg_income = (int(income_str[0][1:]) + int(income_str[1][1:]))/2
        return avg_income

In [ ]:
transform_income("Less than $12500"), transform_income("$100000 or More"), transform_income("$37500 - $49999")

(12500.0, 100000.0, 43749.5)

In [ ]:
from pyspark.sql import types as T

In [ ]:
## STEP 2: Convert python function to UDF function
transform_income_udf = F.udf(f=lambda row: transform_income(row), returnType=T.FloatType())

In [ ]:
updated_spark_df = dfc.withColumn("Material_test", transform_income_udf(F.col("Year")))

In [ ]:
dfc.describe().show()

+-------+-------------+------------------+------------------+-----+------------------+------------------+---------------+--------------+------+-------+---------+-----------------+-------------------+-------------+----------+--------------+
|summary|Billing Date0|             Month|              Year| Plnt|        Sold-to pt|          Material|        Product|  Sub Category| Model|Factory|    Capa.| Manual Serial No|        Prod. Month|  Mfg. Period|Sale Month|Billing Date15|
+-------+-------------+------------------+------------------+-----+------------------+------------------+---------------+--------------+------+-------+---------+-----------------+-------------------+-------------+----------+--------------+
|  count|        79022|             79022|             79022|79022|             79022|             79022|          79022|         79022| 79022|  75641|    79022|            79022|              79022|        79022|     79022|         79022|
|   mean|         null| 6.107653564830048|2019.1330642099667| null|1607439.9285641974|1164175.0780289033|           null|          null|  null|   null|     null|             null| 2018.3853110106318|         null|      null|          null|
| stddev|         null|3.6552660308716796|0.3396462657447687| null| 6087613.727848912|  58779.1236778935|           null|          null|  null|   null|     null|             null|0.48743633500988937|         null|      null|          null|
|    min|   01.02.2019|                 1|              2019| V255|            100038|           1100001|     Dishwasher|Bottom Mounted| DF14S|Arcelik|300 - 500|1100001A18F000003|              2015F|Apr'19-Sep'19|    Apr-19|    01-02-2019|
|    max|   31.12.2019|                12|              2020| V482|          28012965|           1500001|Washing Machine|     Table Top|WWD80S|Voltbek|Upto 7 Kg|1500001A18F000381|              2020B|Sep'18-Mar'19|    Sep-19|    31-12-2019|
+-------+-------------+------------------+------------------+-----+------------------+------------------+---------------+--------------+------+-------+---------+-----------------+-------------------+-------------+----------+--------------+

In [ ]:
dfc.summary().show()

+-------+-------------+------------------+------------------+-----+------------------+------------------+---------------+--------------+------+-------+---------+-----------------+-------------------+-------------+----------+--------------+
|summary|Billing Date0|             Month|              Year| Plnt|        Sold-to pt|          Material|        Product|  Sub Category| Model|Factory|    Capa.| Manual Serial No|        Prod. Month|  Mfg. Period|Sale Month|Billing Date15|
+-------+-------------+------------------+------------------+-----+------------------+------------------+---------------+--------------+------+-------+---------+-----------------+-------------------+-------------+----------+--------------+
|  count|        79022|             79022|             79022|79022|             79022|             79022|          79022|         79022| 79022|  75641|    79022|            79022|              79022|        79022|     79022|         79022|
|   mean|         null| 6.107653564830048|2019.1330642099667| null|1607439.9285641974|1164175.0780289033|           null|          null|  null|   null|     null|             null| 2018.3853110106318|         null|      null|          null|
| stddev|         null|3.6552660308716796|0.3396462657447687| null| 6087613.727848912|  58779.1236778935|           null|          null|  null|   null|     null|             null|0.48743633500988937|         null|      null|          null|
|    min|   01.02.2019|                 1|              2019| V255|            100038|           1100001|     Dishwasher|Bottom Mounted| DF14S|Arcelik|300 - 500|1100001A18F000003|              2015F|Apr'19-Sep'19|    Apr-19|    01-02-2019|
|    25%|         null|                 2|              2019| null|            101958|           1100028|           null|          null|  null|   null|     null|             null|             2018.0|         null|      null|          null|
|    50%|         null|                 6|              2019| null|            102690|           1200019|           null|          null|  null|   null|     null|             null|             2018.0|         null|      null|          null|
|    75%|         null|                 9|              2019| null|            121876|           1200064|           null|          null|  null|   null|     null|             null|             2019.0|         null|      null|          null|
|    max|   31.12.2019|                12|              2020| V482|          28012965|           1500001|Washing Machine|     Table Top|WWD80S|Voltbek|Upto 7 Kg|1500001A18F000381|              2020B|Sep'18-Mar'19|    Sep-19|    31-12-2019|
+-------+-------------+------------------+------------------+-----+------------------+------------------+---------------+--------------+------+-------+---------+-----------------+-------------------+-------------+----------+--------------+

In [ ]:
dfc.summary("40%", "60%", "90%").show()

+-------+-------------+-----+----+----+----------+--------+-------+------------+-----+-------+-----+----------------+-----------+-----------+----------+--------------+
|summary|Billing Date0|Month|Year|Plnt|Sold-to pt|Material|Product|Sub Category|Model|Factory|Capa.|Manual Serial No|Prod. Month|Mfg. Period|Sale Month|Billing Date15|
+-------+-------------+-----+----+----+----------+--------+-------+------------+-----+-------+-----+----------------+-----------+-----------+----------+--------------+
|    40%|         null|    5|2019|null|    102597| 1100133|   null|        null| null|   null| null|            null|     2018.0|       null|      null|          null|
|    60%|         null|    7|2019|null|    102774| 1200028|   null|        null| null|   null| null|            null|     2018.0|       null|      null|          null|
|    90%|         null|   11|2020|null|    125111| 1200115|   null|        null| null|   null| null|            null|     2019.0|       null|      null|          null|
+-------+-------------+-----+----+----+----------+--------+-------+------------+-----+-------+-----+----------------+-----------+-----------+----------+--------------+

In [ ]:
### Spark Label encoder
from pyspark.ml.feature import StringIndexer
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)

df = sqlContext.createDataFrame(
            [(0, "a"), (1, "b"), (2, "c"), (3, "a"), (4, "a"), (5, "c")],
            ["id", "category"])
indexer = StringIndexer(inputCol="category", outputCol="categoryIndex")
indexed = indexer.fit(df).transform(df)
indexed.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+---+--------+-------------+
| id|category|categoryIndex|
+---+--------+-------------+
|  0|       a|          0.0|
|  1|       b|          2.0|
|  2|       c|          1.0|
|  3|       a|          0.0|
|  4|       a|          0.0|
|  5|       c|          1.0|
+---+--------+-------------+

In [ ]:
indexer1 = StringIndexer(inputCol="Product", outputCol="categoryIndex")
indexed1 = indexer1.fit(dfc).transform(dfc)
indexed1.show()

+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+-------------+
|Billing Date0|Month|Year|Plnt|Sold-to pt|Material|        Product|Sub Category|   Model|  Factory|          Capa.| Manual Serial No|Prod. Month|  Mfg. Period|Sale Month|Billing Date15|categoryIndex|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+-------------+
|   05.01.2019|    1|2019|V255|    160070| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F900012|      2018F|Sep'18-Mar'19|    Jan-19|    05-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001517|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001502|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001016|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18D000723|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18C000686|      2018C|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114673| 1100017|   Refrigerator|  Frost Free|RFF383IF| Thailand|      300 - 500|1100017A18F000037|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          1.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001520|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001518|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26114942| 1200011|Washing Machine|        FAFL|  WFL70S|  Arcelik|> 6.5 <= 7.5 kg|1200011A18D000239|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001547|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001561|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|          0.0|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001031|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|          0.0|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18G001086|      2018G|Sep'18-Mar'19|    Jan-19|    09-01-2019|          0.0|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003397|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|          0.0|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003396|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|          0.0|
|   10.01.2019|    1|2019|V255|  26114942| 1200023|Washing Machine|        FATL|  WTL70S|Beko/Defy|> 6.5 <= 7.5 kg|1200023A18E000158|      2018E|Sep'18-Mar'19|    Jan-19|    10-01-2019|          0.0|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000802|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|          0.0|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000516|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|          0.0|
|   11.01.2019|    1|2019|V255|    102689| 1200017|Washing Machine|        FATL|  WTL60G|Beko/Defy|    Upto 6.5 Kg|1200017A18F000516|      2018F|Sep'18-Mar'19|    Jan-19|    11-01-2019|          0.0|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+-------------+
only showing top 20 rows

In [ ]:
indexed1.select("CategoryIndex").distinct().show()

+-------------+
|CategoryIndex|
+-------------+
|          0.0|
|          1.0|
|          4.0|
|          3.0|
|          2.0|
+-------------+

In [ ]:
dfc.select("Product").distinct().show()

+---------------+
|        Product|
+---------------+
|   Refrigerator|
| Microwave Oven|
|Washing Machine|
|     Dishwasher|
|          Dryer|
+---------------+

In [ ]:
dfc.count()

79022

In [ ]:
### Join
dfwr=dfc.filter((F.col("Product")== 'Washing Machine') | (F.col("Product")=='Refrigerator'))
dfdm=dfc.filter((F.col("Product")== 'Microwave Oven') | (F.col("Product")=='Dryer'))

dfwr.count(), dfdm.count()

(108623, 5159)

In [ ]:
dfwr.join(dfc, "Manual Serial No").count()

122631

In [ ]:
df.show()

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
|       E|  4| true| 33.87|
|       F|  4| true| 93.87|
+--------+---+-----+------+

In [ ]:
df1=df.filter((F.col("ID")== 1) | (F.col("ID")==4))
df2=df.filter((F.col("ID")== 2) | (F.col("ID")==3))
df1.count(), df2.count()
df1.show()
df2.show()

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       E|  4| true| 33.87|
|       F|  4| true| 93.87|
+--------+---+-----+------+

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
+--------+---+-----+------+

In [ ]:
# join on explicit columns
df1.join(df2, df2("ID")==df1("ID")).show()

TypeError: ignored

In [ ]:
df.show()

+--------+---+-----+------+------+
|Category| ID|Truth| Value|newcol|
+--------+---+-----+------+------+
|       A|  1| true|121.44|     2|
|       B|  5|false|300.01|     6|
|       G|  6|false|308.01|     7|
|       B|  7|false| 30.01|     8|
|       A|  8|false|306.01|     9|
|       B|  9| true|300.01|    10|
|       D| 10|false|300.01|    11|
|       B|  2|false|300.01|     3|
|       C|  3| null| 10.99|     4|
|       E|  4| true| 33.87|     5|
|       F|  4| true| 93.87|     5|
+--------+---+-----+------+------+

In [ ]:
approx_count_distinct
avg
collect_list
collect_set
countDistinct
count
grouping
first
last
kurtosis
max
min
mean
skewness
stddev
stddev_samp
stddev_pop
sum
sumDistinct
variance, var_samp, var_pop

In [ ]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df_s = spark.createDataFrame(data=simpleData, schema = schema)
df_s.printSchema()
df_s.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [ ]:
df.show()

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       B|  5|false|300.01|
|       G|  6|false|308.01|
|       B|  7|false| 30.01|
|       A|  8|false|306.01|
|       B|  9| true|300.01|
|       D| 10|false|300.01|
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
|       E|  4| true| 33.87|
|       F|  4| true| 93.87|
+--------+---+-----+------+

In [ ]:
## sampleBy for stratified data
print(df.sample(0.2).collect())
print(df.sampleBy("Value",{0:0.5, 1:0.5}, 0).collect())

[Row(Category='A', ID=1, Truth=True, Value=121.44), Row(Category='B', ID=5, Truth=False, Value=300.01), Row(Category='G', ID=6, Truth=False, Value=308.01)]
[]

In [ ]:
print("avg: " + str(df_s.select(avg("salary")).collect()[0][0]))

NameError: ignored

In [ ]:
from pyspark.sql.functions import col, approx_count_distinct, avg,collect_list,collect_set, countDistinct,count,grouping,first,last,kurtosis,max,min,mean,skewness,stddev,stddev_samp,stddev_pop,sum,sumDistinct,variance, var_samp, var_pop

In [ ]:
#//approx_count_distinct()

print("approx_count_distinct: " + \
      str(df_s.select(approx_count_distinct("salary")).collect()[0][0]))

In [ ]:
dfc.select(collect_list("Product")).show()

+---------------------+
|collect_list(Product)|
+---------------------+
| [Washing Machine,...|
+---------------------+

In [ ]:
dfc.select(collect_set("Product")).show()

+--------------------+
|collect_set(Product)|
+--------------------+
|[Dryer, Washing M...|
+--------------------+

In [ ]:
dfg=dfc.select(countDistinct("Product", "plnt"))
dfg.show()

+-----------------------------+
|count(DISTINCT Product, plnt)|
+-----------------------------+
|                           29|
+-----------------------------+

In [ ]:
print("Product Count"+str(dfc.select(count("Product")).collect()[0][0]))

Product Count28681

In [ ]:
dfc.select(first("plnt")).show()

+-----------+
|first(plnt)|
+-----------+
|       V255|
+-----------+

In [ ]:
dfc.select(last("Billing Date15")).show()

+--------------------+
|last(Billing Date15)|
+--------------------+
|          29-08-2019|
+--------------------+

In [ ]:
df_s.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
df_s.select(kurtosis("salary")).show()

+-------------------+
|   kurtosis(salary)|
+-------------------+
|-0.6467803030303032|
+-------------------+

In [ ]:
dfc.select(max("Billing Date15")).show() # min, mean, sum, sumDistinct()

+-------------------+
|max(Billing Date15)|
+-------------------+
|         31-12-2019|
+-------------------+

In [ ]:
df_s.select(skewness("salary")).show()

+--------------------+
|    skewness(salary)|
+--------------------+
|-0.12041791181069571|
+--------------------+

In [ ]:
df_s.select(stddev("salary")).show()
df_s.select(stddev_samp("salary")).show()
df_s.select(stddev_pop("salary")).show()

+-------------------+
|stddev_samp(salary)|
+-------------------+
|  765.9416862050705|
+-------------------+

+-------------------+
|stddev_samp(salary)|
+-------------------+
|  765.9416862050705|
+-------------------+

+------------------+
|stddev_pop(salary)|
+------------------+
|  726.636084983398|
+------------------+

In [ ]:
df_s.select(variance("salary")).show()
df_s.select(var_samp("salary")).show()
df_s.select(var_pop("salary")).show()

+-----------------+
| var_samp(salary)|
+-----------------+
|586666.6666666666|
+-----------------+

+-----------------+
| var_samp(salary)|
+-----------------+
|586666.6666666666|
+-----------------+

+---------------+
|var_pop(salary)|
+---------------+
|       528000.0|
+---------------+

In [ ]:
## Window function
ranking functions
analytic functions
aggregate functions

In [ ]:
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )

columns= ["employee_name", "department", "salary"]
dfw= spark.createDataFrame(data = simpleData, schema = columns)
dfw.printSchema()
dfw.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
win=Window.partitionBy("department").orderBy("salary")
dfw.withColumn("row_number", row_number().over(win)).show()

NameError: ignored

In [ ]:
from pyspark.sql.functions import rank, percent_rank, ntile, cume_dist, lag, lead
dfw.withColumn("rank", (rank().over(win))).show()
dfw.withColumn('dense rank', (rank().over(win))).show()
dfw.withColumn('Partion', (percent_rank().over(win))).show()
dfw.withColumn('ntile', (ntile(5).over(win))).show()
dfw.withColumn("Cum", (cume_dist().over(win))).show()
dfw.withColumn("lag", lag("salary", 2).over(win)).show()
dfw.withColumn("lead", lead("salary", 2).over(win)).show()

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|   1|
|        Scott|   Finance|  3300|   2|
|          Jen|   Finance|  3900|   3|
|        Kumar| Marketing|  2000|   1|
|         Jeff| Marketing|  3000|   2|
|        James|     Sales|  3000|   1|
|        James|     Sales|  3000|   1|
|       Robert|     Sales|  4100|   3|
|         Saif|     Sales|  4100|   3|
|      Michael|     Sales|  4600|   5|
+-------------+----------+------+----+

+-------------+----------+------+----------+
|employee_name|department|salary|dense rank|
+-------------+----------+------+----------+
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         1|
|       Robert|     Sales|  4100|         3|
|         Saif|     Sales|  4100|         3|
|      Michael|     Sales|  4600|         5|
+-------------+----------+------+----------+

+-------------+----------+------+-------+
|employee_name|department|salary|Partion|
+-------------+----------+------+-------+
|        Maria|   Finance|  3000|    0.0|
|        Scott|   Finance|  3300|    0.5|
|          Jen|   Finance|  3900|    1.0|
|        Kumar| Marketing|  2000|    0.0|
|         Jeff| Marketing|  3000|    1.0|
|        James|     Sales|  3000|    0.0|
|        James|     Sales|  3000|    0.0|
|       Robert|     Sales|  4100|    0.5|
|         Saif|     Sales|  4100|    0.5|
|      Michael|     Sales|  4600|    1.0|
+-------------+----------+------+-------+

+-------------+----------+------+-----+
|employee_name|department|salary|ntile|
+-------------+----------+------+-----+
|        Maria|   Finance|  3000|    1|
|        Scott|   Finance|  3300|    2|
|          Jen|   Finance|  3900|    3|
|        Kumar| Marketing|  2000|    1|
|         Jeff| Marketing|  3000|    2|
|        James|     Sales|  3000|    1|
|        James|     Sales|  3000|    2|
|       Robert|     Sales|  4100|    3|
|         Saif|     Sales|  4100|    4|
|      Michael|     Sales|  4600|    5|
+-------------+----------+------+-----+

+-------------+----------+------+------------------+
|employee_name|department|salary|               Cum|
+-------------+----------+------+------------------+
|        Maria|   Finance|  3000|0.3333333333333333|
|        Scott|   Finance|  3300|0.6666666666666666|
|          Jen|   Finance|  3900|               1.0|
|        Kumar| Marketing|  2000|               0.5|
|         Jeff| Marketing|  3000|               1.0|
|        James|     Sales|  3000|               0.4|
|        James|     Sales|  3000|               0.4|
|       Robert|     Sales|  4100|               0.8|
|         Saif|     Sales|  4100|               0.8|
|      Michael|     Sales|  4600|               1.0|
+-------------+----------+------+------------------+

+-------------+----------+------+----+
|employee_name|department|salary| lag|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|null|
|        Scott|   Finance|  3300|null|
|          Jen|   Finance|  3900|3000|
|        Kumar| Marketing|  2000|null|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|null|
|        James|     Sales|  3000|null|
|       Robert|     Sales|  4100|3000|
|         Saif|     Sales|  4100|3000|
|      Michael|     Sales|  4600|4100|
+-------------+----------+------+----+

+-------------+----------+------+----+
|employee_name|department|salary|lead|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|3900|
|        Scott|   Finance|  3300|null|
|          Jen|   Finance|  3900|null|
|        Kumar| Marketing|  2000|null|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|4100|
|        James|     Sales|  3000|4100|
|       Robert|     Sales|  4100|4600|
|         Saif|     Sales|  4100|null|
|      Michael|     Sales|  4600|null|
+-------------+----------+------+----+

In [ ]:
 ### Date and Timestamp
Date Functions
Timestamp Functions
Date and Timestamp Window Functions

In [ ]:
dfc.show()

+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
|Billing Date0|Month|Year|Plnt|Sold-to pt|Material|        Product|Sub Category|   Model|  Factory|          Capa.| Manual Serial No|Prod. Month|  Mfg. Period|Sale Month|Billing Date15|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
|   05.01.2019|    1|2019|V255|    160070| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F900012|      2018F|Sep'18-Mar'19|    Jan-19|    05-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001517|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001502|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001016|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18D000723|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18C000686|      2018C|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114673| 1100017|   Refrigerator|  Frost Free|RFF383IF| Thailand|      300 - 500|1100017A18F000037|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001520|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001518|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200011|Washing Machine|        FAFL|  WFL70S|  Arcelik|> 6.5 <= 7.5 kg|1200011A18D000239|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001547|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001561|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001031|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18G001086|      2018G|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003397|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003396|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   10.01.2019|    1|2019|V255|  26114942| 1200023|Washing Machine|        FATL|  WTL70S|Beko/Defy|> 6.5 <= 7.5 kg|1200023A18E000158|      2018E|Sep'18-Mar'19|    Jan-19|    10-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000802|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000516|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200017|Washing Machine|        FATL|  WTL60G|Beko/Defy|    Upto 6.5 Kg|1200017A18F000516|      2018F|Sep'18-Mar'19|    Jan-19|    11-01-2019|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import *
data=[["1","2020-02-01"],["2","2019-03-01"],["3","2021-03-01"]]
dfd=spark.createDataFrame(data,["id","input"])
dfd.show()

+---+----------+
| id|     input|
+---+----------+
|  1|2020-02-01|
|  2|2019-03-01|
|  3|2021-03-01|
+---+----------+

In [ ]:
dfc.select(current_date()).show()

+--------------+
|current_date()|
+--------------+
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
|    2022-01-27|
+--------------+
only showing top 20 rows

In [ ]:
dfd.select(col("input"), date_format(col("input"), "MM-dd-yyyy").alias("Date_Format")).show()
dfd.select(col("input"), to_date(col("input"), "yyyy-MM-dd").alias("Date_Format")).show()
dfd.select(col("input"), datediff(current_date(), col("input")).alias("Date_Format")).show()
dfd.select(col("input"), months_between(current_date(), col("input")).alias("Month_b/w")).show()

+----------+-----------+
|     input|Date_Format|
+----------+-----------+
|2020-02-01| 02-01-2020|
|2019-03-01| 03-01-2019|
|2021-03-01| 03-01-2021|
+----------+-----------+

+----------+-----------+
|     input|Date_Format|
+----------+-----------+
|2020-02-01| 2020-02-01|
|2019-03-01| 2019-03-01|
|2021-03-01| 2021-03-01|
+----------+-----------+

+----------+-----------+
|     input|Date_Format|
+----------+-----------+
|2020-02-01|        726|
|2019-03-01|       1063|
|2021-03-01|        332|
+----------+-----------+

+----------+-----------+
|     input|  Month_b/w|
+----------+-----------+
|2020-02-01|23.83870968|
|2019-03-01|34.83870968|
|2021-03-01|10.83870968|
+----------+-----------+

In [ ]:
dfd.select(col("input"),
           trunc(col("input"), "Month").alias("Month_trunc"),
           trunc(col("input"), "Year").alias("Month_Year"),
           trunc(col("input"), "Month").alias("Month_Year")).show()

+----------+-----------+----------+----------+
|     input|Month_trunc|Month_Year|Month_Year|
+----------+-----------+----------+----------+
|2020-02-01| 2020-02-01|2020-01-01|2020-02-01|
|2019-03-01| 2019-03-01|2019-01-01|2019-03-01|
|2021-03-01| 2021-03-01|2021-01-01|2021-03-01|
+----------+-----------+----------+----------+

In [ ]:
# add_months() , date_add(), date_sub()
dfd.select(col("input"),
           add_months(col("input"), 4).alias("added_m"),
           add_months(col("input"), -2).alias("sub_m"),
           date_add(col("input"), 5).alias("date"),
           date_sub(col("input"), -3).alias("date_sub")).show()

+----------+----------+----------+----------+----------+
|     input|   added_m|     sub_m|      date|  date_sub|
+----------+----------+----------+----------+----------+
|2020-02-01|2020-06-01|2019-12-01|2020-02-06|2020-02-04|
|2019-03-01|2019-07-01|2019-01-01|2019-03-06|2019-03-04|
|2021-03-01|2021-07-01|2021-01-01|2021-03-06|2021-03-04|
+----------+----------+----------+----------+----------+

In [ ]:
#year(), month(), month(),next_day(), weekofyear() dayofweek(), dayofmonth(), dayofyear()

dfd.select(col("input"),
           year(col("input")).alias("Year"),
           month(col("input")).alias("Month"),
           next_day(col("input"), "Sunday").alias("Next_date"),
           weekofyear(col("input")).alias("Week_Of_Year"),
           dayofweek(col("input")).alias("Day_of_week"),
           dayofmonth(col("input")).alias("Day_of_Month"),
           dayofyear("input")).alias("Day_of_Year").show()

+----------+----+-----+----------+------------+-----------+------------+----------------+
|     input|Year|Month| Next_date|Week_Of_Year|Day_of_week|Day_of_Month|dayofyear(input)|
+----------+----+-----+----------+------------+-----------+------------+----------------+
|2020-02-01|2020|    2|2020-02-02|           5|          7|           1|              32|
|2019-03-01|2019|    3|2019-03-03|           9|          6|           1|              60|
|2021-03-01|2021|    3|2021-03-07|           9|          2|           1|              60|
+----------+----+-----+----------+------------+-----------+------------+----------------+

In [ ]:
dfhms=dfc.select(current_timestamp().alias("current_timestamp"))
dfhms.select(col("current_timestamp"),
           year(col("")).alias("Year"),
           year(col("input")).alias("Year"),
           year(col("input")).alias("Year"),
           year(col("input")).alias("Year"),

+--------------------+
|   current_timestamp|
+--------------------+
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
|2022-01-27 06:57:...|
+--------------------+
only showing top 20 rows

In [ ]:
dfc.select(col("Billing Date15"), to_timestamp(col("Billing Date15"), "MM-dd-yyyy HH mm ss SS").alias("New_timestamp")).show()

+----------+-------------+
|     input|New_timestamp|
+----------+-------------+
|2020-02-01|         null|
|2019-03-01|         null|
|2021-03-01|         null|
+----------+-------------+

In [ ]:
dfc.show()
from pyspark.sql.functions import *

+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
|Billing Date0|Month|Year|Plnt|Sold-to pt|Material|        Product|Sub Category|   Model|  Factory|          Capa.| Manual Serial No|Prod. Month|  Mfg. Period|Sale Month|Billing Date15|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
|   05.01.2019|    1|2019|V255|    160070| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F900012|      2018F|Sep'18-Mar'19|    Jan-19|    05-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001517|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001502|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001016|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18D000723|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200006|Washing Machine|        FAFL| WFL60SS|  Arcelik|    Upto 6.5 Kg|1200006A18C000686|      2018C|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114673| 1100017|   Refrigerator|  Frost Free|RFF383IF| Thailand|      300 - 500|1100017A18F000037|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001520|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001518|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26114942| 1200011|Washing Machine|        FAFL|  WFL70S|  Arcelik|> 6.5 <= 7.5 kg|1200011A18D000239|      2018D|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001547|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   07.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F001561|      2018F|Sep'18-Mar'19|    Jan-19|    07-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18F001031|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200007|Washing Machine|        FAFL| WFL60WS|  Arcelik|    Upto 6.5 Kg|1200007A18G001086|      2018G|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003397|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   09.01.2019|    1|2019|V255|  26117450| 1200018|Washing Machine|        FATL|  WTL62S|Beko/Defy|    Upto 6.5 Kg|1200018A18F003396|      2018F|Sep'18-Mar'19|    Jan-19|    09-01-2019|
|   10.01.2019|    1|2019|V255|  26114942| 1200023|Washing Machine|        FATL|  WTL70S|Beko/Defy|> 6.5 <= 7.5 kg|1200023A18E000158|      2018E|Sep'18-Mar'19|    Jan-19|    10-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000802|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200016|Washing Machine|        FATL|  WTL60S|Beko/Defy|    Upto 6.5 Kg|1200016A18E000516|      2018E|Sep'18-Mar'19|    Jan-19|    11-01-2019|
|   11.01.2019|    1|2019|V255|    102689| 1200017|Washing Machine|        FATL|  WTL60G|Beko/Defy|    Upto 6.5 Kg|1200017A18F000516|      2018F|Sep'18-Mar'19|    Jan-19|    11-01-2019|
+-------------+-----+----+----+----------+--------+---------------+------------+--------+---------+---------------+-----------------+-----------+-------------+----------+--------------+
only showing top 20 rows

In [ ]:
rawDF = spark.read.json("data.json", multiLine = "true")
rawDF.show()

+--------------------+---------+
|               feeds|totalFeed|
+--------------------+---------+
|[{0, 0, 2020-01-0...|      125|
+--------------------+---------+

In [ ]:
## Pyspark in-built functions
# when() otherwise()
df.show()
df.select(col("*"),when(df.Truth=="true", "T").when(df.Truth=="false", "F").when(df.Truth.isNull(), " ").otherwise(df.Truth).alias("New_Truth"))

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       B|  5|false|300.01|
|       G|  6|false|308.01|
|       B|  7|false| 30.01|
|       A|  8|false|306.01|
|       B|  9| true|300.01|
|       D| 10|false|300.01|
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
|       E|  4| true| 33.87|
|       F|  4| true| 93.87|
+--------+---+-----+------+

AnalysisException: ignored

In [ ]:
df3 = df.withColumn("new_truth", expr("CASE WHEN Truth = 'true' THEN 'T' " +
               "WHEN Truth = 'false' THEN 'F' WHEN Truth IS NULL THEN ''" +
               "ELSE Truth END"))
df3.show()

AnalysisException: ignored

In [ ]:
# split()
from pyspark.sql.functions import split, col
data1 = [("James, A, Smith","2018","M",3000),
            ("Michael, Rose, Jones","2010","M",4000),
            ("Robert,K,Williams","2010","M",4000),
            ("Maria,Anne,Jones","2005","F",4000),
            ("Jen,Mary,Brown","2010","",-1)
            ]

columns=["name","dob_year","gender","salary"]
dfsp=spark.createDataFrame(data1,columns)
dfsp.printSchema()
dfsp.show()
dfsp_=dfsp.select(split(col("name"), ",").alias("Namearray"))
dfsp_.show()

root
 |-- name: string (nullable = true)
 |-- dob_year: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+--------------------+--------+------+------+
|                name|dob_year|gender|salary|
+--------------------+--------+------+------+
|     James, A, Smith|    2018|     M|  3000|
|Michael, Rose, Jones|    2010|     M|  4000|
|   Robert,K,Williams|    2010|     M|  4000|
|    Maria,Anne,Jones|    2005|     F|  4000|
|      Jen,Mary,Brown|    2010|      |    -1|
+--------------------+--------+------+------+

+--------------------+
|           Namearray|
+--------------------+
| [James,  A,  Smith]|
|[Michael,  Rose, ...|
|[Robert, K, Willi...|
|[Maria, Anne, Jones]|
|  [Jen, Mary, Brown]|
+--------------------+

In [ ]:
## concat_ws()
from pyspark.sql.functions import col, concat_ws
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

columns = ["name","languagesAtSchool","currentState"]
data = [("James,,Smith",["Java","Scala","C++"],"CA"), \
    ("Michael,Rose,",["Spark","Java","C++"],"NJ"), \
    ("Robert,,Williams",["CSharp","VB"],"NV")]

df = spark.createDataFrame(data=data,schema=columns)
df.printSchema()
df.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- languagesAtSchool: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- currentState: string (nullable = true)

+----------------+------------------+------------+
|name            |languagesAtSchool |currentState|
+----------------+------------------+------------+
|James,,Smith    |[Java, Scala, C++]|CA          |
|Michael,Rose,   |[Spark, Java, C++]|NJ          |
|Robert,,Williams|[CSharp, VB]      |NV          |
+----------------+------------------+------------+

In [ ]:
df.withColumn("languagesAtSchool", concat_ws(",",col("languagesAtSchool")))
dfcon.select(overlay('name',"languagesAtSchool", 2).alias("Overlayed")).show()

+----------------+
|       Overlayed|
+----------------+
| JJava,Scala,C++|
| MSpark,Java,C++|
|RCSharp,VBlliams|
+----------------+

In [ ]:
# Map
address = [(1,"14851 Jeffrey Rd","DE"),
    (2,"43421 Margarita St","NY"),
    (3,"13111 Siemon Ave","CA")]
dfmap =spark.createDataFrame(address,["id","address","state"])
dfmap.show()

+---+------------------+-----+
| id|           address|state|
+---+------------------+-----+
|  1|  14851 Jeffrey Rd|   DE|
|  2|43421 Margarita St|   NY|
|  3|  13111 Siemon Ave|   CA|
+---+------------------+-----+

In [ ]:
data2 = ["Project","Gutenberg’s","Alice’s","Adventures",
"in","Wonderland","Project","Gutenberg’s","Adventures",
"in","Wonderland","Project","Gutenberg’s"]

rdd=spark.sparkContext.parallelize(data2)

In [ ]:
stateDic={'CA':'California','NY':'New York','DE':'Delaware'}
rdd=spark.sparkContext.parallelize(address)

df2=df.rdd.map(lambda x:
    (x.id,x.address,stateDic[x.state])
    ).toDF(["id","address","state"])
df2.show()

Py4JJavaError: ignored

# New Section